@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Inter:wght@400;900&family=Noto+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  overflow: hidden;
  background: #10101a;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% auto;
  height: 100vh;
}

.animation {
  width: 28vw;
  cursor: pointer;
  transition: transform 1.0s;
  animation: fromBottom 1.0s backwards;
}

.main {
  color: #ffff;
  text-align: center;
}

.text h1 {
  padding: 5px;
  transition: transform .9s;
  font-size: 40px;
}

.text h3 {
  font-size: 30px;
}

.text p {
  font-size: 20px;
}

.text {
  padding: 15px;
  animation: fromBottom 2.0s backwards;
}

.btn {
  background-color: #322c8e;
  width: 8%;
  padding: 16px 0px;
  border: none;
  border-radius: 20px 0px 20px 0px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  box-shadow: 4px 4px 8px rgb(191, 191, 191);
  cursor: pointer;
  transition: transform .8s;
  animation: fromBottom 3.0s backwards;
}

.btn a {
  color: #ffff;
  font-weight: 700;
}

/*ANIMAÇÕES*/
.btn:hover {
  background-color: rgb(191, 191, 191);
  box-shadow: 4px 4px 8px #322c8e;
  transform: scale(1.1);
  transition: 1.0s;
}

.btn:hover a {
  color: #322c8e;
  font-weight: 700;
}

/*Animações - LAG*/
@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*RESPONSIVIDADE - Celular*/
@media screen and (max-width: 800px) {
    .text h3 {
    font-size: 28px;
  }
  
  .text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .text p {
    font-size: 18px;
  }

  .animation {
    width: 40vw;
  }

  .btn {
    width: 50%;
    padding: 16px 0px;
    margin: 20px;
    border: none;
  }
}

@media screen and (max-width: 465px){
  .text h3 {
    font-size: 25px;
  }

  .text h1 {
    font-size: 28;
  }

  .text p {
    padding-top: 50px;
  }

  .animation {
    width: 50vw;
  }
}

@media screen and (max-width: 375px) {
  .text h3 {
      font-size: 25px;
      margin-top: 2px;
  }

  .text h1 {
      font-size: 25px;
      margin-top: 10%;
  }

  .text p {
      font-size: 16px;
  }

  .text {
      padding-top: 10px;
  }

  .animation {
      width: 50vw;
  }

  .btn {
    width: 30%;
  }
}